.card {

    max-width: 135px;
    max-height: 98px;
    flex: 1 1 auto;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    box-sizing: border-box;
    min-width: 135px;

    &__header-image {}

    &__image {
        background: #fff;
        max-height: 65px;
        max-width: 75px;
        margin: 8px 13px;
    }

    &__link {
        text-decoration: none;
        color: green;
    }

    &__link:visited {
        text-decoration: none;
        color: red;
    }

    &__link:hover {
        color: hotpink;
    }

    /* selected link */
    &__link:active {
        color: blue;
    }

    /*selected link*/
    &__count {
        margin-left: 7px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
    }

    &__content {
        display: block;
        margin-bottom: 24px;
    }

    &__title {
        font-size: 8px;
        font-weight: 100;
        text-align: center;
        // margin-left: 7px;
        // margin-bottom: -8px;
    }

    &__actions {
        padding-bottom: 16px;
    }

    @media(max-width: 780px) {
        &__image {
            max-width: 50px;
            max-height: 50px;
            min-height: 50px;
            padding-left: 14px;

        }
    }
}

// .tile-container__card {
//     flex: 1 1 auto;
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//     margin: 15px;
//     box-sizing: border-box;
// }
